<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Agnitio, Facial Emotion Recognition
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="takePicture()" expand="block">
    <ion-icon name="camera" slot="start"></ion-icon>
    Capture image
  </ion-button>

  <ion-img *ngIf="image" [src]="image"></ion-img>

  <ion-card *ngIf="isRecognized">
    <ion-card-content>
      <ion-item>
        <!-- <ion-icon name="location" slot="start"></ion-icon> -->
        <!-- Gender: {{  }} -->
      </ion-item>
    </ion-card-content>
  </ion-card>


</ion-content>