<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Agnitio, Facial Recognition
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="takePicture()" expand="block">
    <ion-icon name="camera" slot="start"></ion-icon>
    Capture image
  </ion-button>

  <ion-img *ngIf="image" [src]="image"></ion-img>

  <ion-card *ngIf="FaceDetails?.length > 0">
    <ion-card-content>
      <ion-item *ngFor="let face of FaceDetails; let i = index;" >
        <ion-label>
          <h2>Face {{i+1}}</h2>
        </ion-label>
        Gender: {{ face?.Gender?.Value }}
        <br>
        Age: {{ face?.AgeRange?.Low }} - {{ face?.AgeRange?.High }}
        <br>
        Smile: {{ face?.Smile?.Value }}
        <br>
        Beard: {{ face?.Beard?.Value }}
        <br>
        Mustache: {{ face?.Mustache?.Value }}
        <br>
        Mouth open: {{ face?.MouthOpen?.Value }}
        <br>
        Eyeglasses: {{ face?.Eyeglasses?.Value }}
        <br>
        Wearing sunglasses: {{ face?.Sunglasses?.Value }}
        <br>
        Emotion: {{ face?.Emotions.length > 0 ? face?.Emotions[0].Type : 'Neutral'}}

      </ion-item>
    </ion-card-content>
  </ion-card>


</ion-content>